.block {
  width: 100%;
  margin: 1px 0;
  background: white;
  position: relative;
}

.block-content {
  padding: 3px 2px;
}

.block-handle {
  position: absolute;
  top: 3px;
  left: -16px;
  letter-spacing: -0.1em;
  font-weight: 700;
}

// hover state


// focus state


// dragging state


.heading1 {
  font-size: 1.875em; //30px
  font-weight: 600;
  line-height: 1.3;
}

.heading2 {
  font-size: 1.5em; //24px
  font-weight: 600;
  line-height: 1.3;
}

.heading3 {
  font-size: 1.25em; //20px
  font-weight: 600;
  line-height: 1.3;
}