.page {
  flex-grow: 0;
  flex-shrink: 1;
  display: inline flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: white;
  cursor: text;
  transition: 0.5s;
}

.topbar {
  width: 100%;
  height: 45px;
  background: white;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-wrapper {
  padding-left: 12px;
}

.breadcrumb {
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1;

  &:hover {
    background: rgba(55, 53, 47, 0.08);
  }
}

.topbar-action-buttons {
  padding: 0 10px;
}

.page-scroller {
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
  flex-grow: 1;
  position: relative;
  align-items: center;
  overflow: auto;
  margin-right: 0px;
  margin-bottom: 0px;
}

.page-wrapper {
  flex-shrink: 0;
  flex-grow: 1;

  min-width: 160px;
  max-width: 800px;
  // width: 640px;
  margin: 32px auto;
  padding: 0px 96px 30vh 96px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-header-wrapper {
  width: 100%;
}

.page-header {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  display: flex;
}


.page-cover {
  width: 100%;
  height: 30vh;
  background-position: center;
  object-fit: cover;
}


.page-title {
  width: 100%;
  text-align: left;
}

.page-title[contenteditable]:empty:after {
  content: attr(placeholder);
}

.page-body {

}

.droppable-area {
  
}

.temp-picker {
  width: 100%;
  margin: 32px auto;
  padding: 0px 240px;
  display: flex;
  flex-direction: column;
}

#picker-form {
  display: flex;
  flex-direction: column;
}

// .page-cover-input {
//   width: 120px;
//   height: 48px;
// }