// #root {
//   width: 100vw;
//   height: 100vh;
// }

#editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  transition: 0.5s;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.loader-text {
  font-size: 40px;
  font-weight: 600;
  color: rgb(192, 192, 192);
}
