.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 250px;
  height: 100vh;
  background: $gray-500;
  color: hsla(45, 19%, 8%, 0.6);
  font-weight: 500;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  opacity: 1;
}

.sidebar-top {

}

.sidebar-bottom {

}

.sidebar-switcher-wrapper {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sidebar-switcher-wrapper:hover {
  background: $sidebar-hover;
}

.sidebar-switcher {
  width: 100%;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 2px 14px;
  font-size: 14px;
}

.workspace-icon-wrapper-outer {
  flex-grow: 0;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  color: $sidebar-icon;
  margin-right: 8px;
}

.workspace-icon-wrapper-inner {
  // user-select: none;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: rgb(55, 53, 47);
}

.workspace-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 1.1;
  color: black;
}

.workspace-label-wrapper {
  height: 23px;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  display: flex;
  align-items: center;
}

.workspace-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $workspace-label;
}

.workspace-switch-icon-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  fill: $sidebar-switch;
}

.workspace-switch-icon {
  display: block;
  width: 12px;
  height: 12px;
  fill: inherit;
  flex-shrink: 0;
  padding-top: 1px;
  // overflow: hidden;
  // backface-visibility: hidden;
}

.sidebar-spacer {
  width: 100%;
  height: 32px;
}

.sidebar-utility-wrapper {
  width: 100%;
  min-height: 27px;
  height: 27px;
  cursor: pointer;
}

.sidebar-utility-wrapper:hover {
  background: $sidebar-hover;
}

.sidebar-utility {
  font-size: 14px;
  padding: 2px 14px;
  display: flex;
  align-items: center;
}

.sidebar-utility-icon-wrapper {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: $sidebar-icon;
}

.sidebar-utility-icon {
  width: 14px;
  height: 100%;
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  // flex-shrink: 0
}

.sidebar-utility-label {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-scroller-vertical {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 20px;
  overflow: hidden auto;
}

.outliner-bookmarks-header {
  display: flex;
  align-items: center;
  min-height: 24px;
  height: 24px;
  font-size: 11.5px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #ccc;
  padding: 0px 14px 0px 15px;
  text-transform: uppercase;
}

.outliner-bookmarks {
}

.outliner {
  display: block;
  width: 100%;

  .page-block {
    display: block;
    padding: 2px 14px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    color: $sidebar-page-block;
  }
}

.sidebar-logout {
  width: 100%;
  padding: 2px 14px;
  margin-top: 32px;
}


.sidebar-credits {
  margin: 32px 0;
  background: $t-blue-300;
}

.credits {
  padding: 2px 14px;
  background: $t-blue-200;
  font-size: 14px;
  font-weight: 400;
  // color: gray;
}