.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 250px;
  // resize: horizontal;
  height: 100vh;
  background: $gray-500;
  color: hsla(45, 19%, 8%, 0.6);
  font-weight: 500;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  opacity: 1;

  // svg {
  //   stroke-width: 3px;
  // }
}

.sidebar-top {
  // scroll
  // overflow: hidden auto;
}

.sidebar-switcher-wrapper {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: $sidebar-hover;
  }
}

.sidebar-switcher {
  width: 100%;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 2px 14px;
  font-size: 14px;
}

.switcher-outer {
  flex-grow: 0;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  color: $sidebar-icon;
  margin-right: 8px;
}

.switcher-inner {
  // user-select: none;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: rgb(55, 53, 47);
}

.switcher-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 1.1;
  color: black;
}

.switcher-label-wrapper {
  height: 23px;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  display: flex;
  align-items: center;
}

.switcher-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $switcher-label;
}d

.sidebar-spacer {
  width: 100%;
  height: 32px;
}

.sidebar-utility-wrapper {
  width: 100%;
  min-height: 27px;
  height: 27px;
  cursor: pointer;
  
  &:hover {
    background: $sidebar-hover;
  }
}

.sidebar-utility {
  font-size: 14px;
  padding: 2px 14px 2px 12px;
  display: flex;
  align-items: center;
}

.sidebar-utility-icon-wrapper {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  color: $sidebar-icon;
}

.sidebar-utility-icon {
  width: 14px;
  height: 100%;
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  // flex-shrink: 0
}

.sidebar-utility-label {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-scroller-vertical {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 20px;
  overflow: hidden auto;
}

.outliner-bookmarks-header {
  display: flex;
  align-items: center;
  min-height: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: rgba(55, 53, 47, 0.4);
  padding: 0px 14px 0px 15px;
  text-transform: uppercase;
}

.outliner {
  display: block;
  width: 100%;

  .outliner-item {
    display: block;
    cursor: pointer;
    // adjust padding-left for caret
    padding: 3px 14px 3px 14px;
    font-size: 14px;
    font-weight: 500;
    color: $sidebar-page-block;

    &:hover {
      background: $sidebar-hover;
    }

    .page-block {
      display: flex;
      align-items: center;
    }

    .page-block-title {
      text-overflow: ellipsis;
    }

    a {
      text-decoration: none;
    }
  }
}

.sidebar-logout {
  width: 100%;
  padding: 2px 14px;
  margin-top: 32px;
}


.sidebar-credits {
  padding: 16px 0;
}

.credit {
  padding: 4px 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: $t-gray-500;
}

.sidebar-shortcuts {
  // background: $t-purple-300;
}

.shortcut {
  height: 45px;
  padding: 2px 14px;
  box-shadow: 0 -1px 0 0 $t-gray-300;
  display: flex;
  align-items: center;
  font-size: 14px;

  cursor: pointer;

  &:hover {
    background: $sidebar-hover;
  }
}

.sidebar-icon {
  color: $t-gray-400;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}