.media-menu-container {
  border-radius: 3px;
  background: white;
  box-shadow: 0px 2px 1px $gray-opacity-20;
  color: #0f0f0f
}


.lilnotion-media-menu {
  display: flex;
  flex-direction: column;
  width: 540px;
  min-width: 180px;
  max-width: calc(100vw - 24px);
  height: 100%;
  max-height: 420px;
}






