.header {
  height: 64px;

  .outer {
    max-width: 1024px;
    height: 64px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .inner {
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo-wrapper {
      height: 64px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .logo {
        display: block;
        height: 30px;
        margin-top: -1px;
      }
    }

    .desktop-actions {
      display: flex;
      flex-flow: row nowrap;

      .nav {
        height: 64px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: 500;

        .nav-list {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          .item {
            height: 32px;
            padding: 0px 12px;
            border-radius: 4px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            a, a:visited {
              color: inherit;
              text-decoration: none;
            }
          }

          .item:hover {
            background-color: $nav-item-hover-gray-background;
          }

          .nav-demo-button {
            height: 32px;
            box-sizing: border-box;
            background: $blue-300;
            color: white;
            border: 1px solid $blue-500;
          }

          .nav-demo-button:hover {
            border: 1px solid rgb(37, 146, 189);
            background: rgb(42, 156, 201);
          }
        }

        .divider {
          width: 1px;
          height: 20px;
          margin: 0 10px;
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
