<!DOCTYPE html>
<html>
  <head>
    <title>lilNotion</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/svg" href="https://lilnotion-dev.s3.us-west-1.amazonaws.com/lilnotion-favicon-dark.svg">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="lilNotion" />
    <meta property="og:url" content="https://lilnotion.herokuapp.com/" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="An online tool for writing, planning, and organizing inspired by Notion" />
    <%# <meta property="og:image" content="" /> %>
    <meta name="twitter:title" content="lilNotion">
    <meta name="twitter:url" content="https://lilnotion.herokuapp.com">
    <meta name="twitter:description" content="An online tool for writing, planning, and organizing inspired by Notion">
    <meta name="twitter:card" content="summary_large_image">
    <%# <meta name="twitter:image" content=""> %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
